/*Main page elements*/
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: 'Copse', serif;
  font-size: 18px;

}
.container {
  background-color: #FFFFFF;
  margin: auto;
  width: 375px;
  height: 667px;
}

.main-header{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

/* Top navigation section*/
nav {
  background-color: #0752B8;
  height: 90px;
  width: 375px;
}

.status {
  background-color: #000000;
  height: 44px;
  width: 375px;
}

h1{
  padding-top: 3%;
  float:right;
  font-family: 'Copse', serif;
  font-weight: bold;
  font-size: 124%;
  line-height: 1.75em;
  color: #FFFFFF;
}

/* Pick up location section*/
.menu-panel {
  background-color: #DCDCDC;
  margin: 10px 5px;
  width: 365px;
  height: 40px;
  border-radius: 10px;
}

.menu-panel-line {
    display: block;
    border-bottom: 3px solid #0752B8;
    content: "";
    width: 375px;
}

.pick-up {
  display: inline-block;
  width: 25%;
  padding-left: 5px;
  text-align: center;
}
.pick-up-location {
  display: inline-block;
  width: 75%;

}
i {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: block;
    float: right;
    padding: 3px;
    margin-top: 13px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* bus direction information section*/
.direction-orange, .direction-blue {
  margin: 5px;
  padding: 5px;
  width: 365px;
  border-bottom: 2px solid #FC610A;
  font-size: 115%;
  color: #FC610A;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.direction-blue {
  border-color: #2D9CDB;
  color: #2D9CDB;
}

/* individual bus information section*/
.route-list {
  background-color: #FFFFFF;
  height: 545px;
  overflow: scroll;
}

.route {
  background-color: #DCDCDC;
  margin: 5px;
  padding: 3%;
  width: 365px;
  height: 110px;
  border-radius: 10px;
}

.bus-name {
  display: inline-block;
  width: 25%;
  padding-right: 10px;
  text-align: center;
}

.bus-route {
  display: inline-block;
  border-left: 1px solid #0752B8;
  padding-left: 15px;
}

h2{
  font-family: 'Copse', serif;
  font-weight: bold;
  font-size: 122%;
  line-height: 1.75em;
  color: #0752B8;
  padding-right: 20px;
}

h3 {
  font-size: 100%;
  color: #828282;
  line-height: 1.75em;
}

h4 {
  font-size: 115%;
  color: #828282;
  text-align: center;
}
h5 {
  font-size: 225%;
  color: #FC610A;
}
h6{
  font-size: 100%;
}

/*footer*/
footer {
  background-color: #000000;
  height: 90px;
  padding-top: 20px;
  width: 375px;
}

.icons {
  float: left;
  text-align: center;
  margin-top:10px ;
  width: 25%;
  height: 25px;
}
