*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: 'Copse', serif;
  font-size: 18px;
}

div {
    background-color: ##FFFFFF;
}

nav {
  background-color: #0752B8;
  height: 90px;
  position: fixed;
  margin-top: -10px;
  width: 375px;
}

.container {
  margin: 0 auto;
  width: 375px;
  height: 667px;
}

.main-header{
  padding-top: 20px;
  padding-left: 30px;
  padding-right:  30px;
}
.direction-orange {
  margin: 5px;
  padding: 5px;
  width: 365px;
  height: 30px;
  border-bottom: 2px #FC610A;
  border-style: solid;
  border-color: #FC610A
}

.direction-blue {
  margin: 5px;
  padding: 5px;
  width: 365px;
  height: 30px;
  border-bottom: 2px #FC610A;
  border-style: solid;
  border-color: #2D9CDB
}

.route-list {
  background-color: #FFFFFF;
  padding-top: 80px
}

.route {
  background-color: #DCDCDC;
  float: center;
  margin: 5px;
  padding: 3%;
  width: 365px;
  height: 80px;
  border-radius: 10px;
}

.angle-down {
  float: left;
  position: static;
  padding: 6%;
  width: 100%;
}

.bus-name {
  display: inline-block;
  width: 25%;
  padding-right: 5px;
  text-align: center;
}

.bus-route {
  display: inline-block;
  width: auto;
  border-left: 1px solid #828282;
  padding-left: 18px;
}

h1{
  padding-top: 3%;
  float:right;
  font-family: 'Copse', serif;
  font-weight: 550;
  font-size: 124%;
  line-height: 1.75em;
  color: #FFFFFF;
}

h2{
  font-family: 'Copse', serif;
  font-weight: 550;
  font-size: 122%;
  line-height: 1.75em;
  color: #0752B8;
}

h3 {
  font-weight: 300;
  font-size: 100%;
  color: #828282
}

bus-line-header {
  font-size: 100%;
  color: #828282;
  text-align: center;
}

bus-number {
  font-size: 190%;
  color: #FC610A;
  text-align: center;
}

direction-orange {
  font-size: 115%;
  color: #FC610A;
  text-transform: uppercase;
  letter-spacing: 2px;
}

direction-blue {
  font-size: 115%;
  color: #2D9CDB;
  text-transform: uppercase;
  letter-spacing: 2px;
}
